@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
.quicksand-font{
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
  /* shared styles */
.display-flex{
    display: flex;
}
.clr-orange{
    color: orange;
}
.clr-blue{
    color: skyblue;
}
.clr-purple{
    color: #8700FF;
}

.btn-primary:hover, .btn-enroll:hover,.hamburger:hover,.read-1:hover ,.read-2:hover ,.read-3:hover,.left-arr:hover,.right-arr:hover{
    background-color: rgb(132, 233, 141);
}
.nav-link-home, .nav-link-abt, .nav-link-facility, .nav-link-ad,.read-1,.read-2,.read-3{
    text-decoration: none;
}
.read-1,.read-2,.read-3{
    font-weight: bold;
    font-size: 1rem;  
}

  /* navbar styles */
.navbar{
    justify-content: space-around;
    align-items: center;
    margin: 0;
    
}
.logo-cat{
    max-height: 13rem;
    max-width: 13rem;
}
.logo-title{
    font-weight: bold;
    font-size: 1.25rem;  
}
.nav-link-home{
    font-size: 1.25rem;
    font-weight: bold;
    color: orange;
}
.nav-link-abt{
    font-size: 1.25rem;
    font-weight: medium;
    color: rgb(32, 161, 211);
}
.nav-link-facility{
    font-size: 1.25rem;
    font-weight: medium;
    color: #05D4DF;
}
.nav-link-ad{
    font-size: 1.25rem;
    font-weight: medium;
    color:#5D58EF;

}
.nav-item{
    list-style: none;
    margin-right: 30px;
}

.btn-primary{
    background-color: orange;
    color: white;
    font-weight: 600;
    font-size: 1.25rem;
    border-radius: 12px;
    height: 3rem;
    width: 12rem;
    border: none;
}
.hamburger{
    display: none;   
}

/* banner styles */
.banner{
    justify-content: space-around;
    align-items: center;
    margin: 0 auto; 
    position: relative;
}
.banner-text{
    max-width: 640px;
    margin:0 auto;
}
.banner-title{
    font-weight: bold;
    font-size:3.5rem;
    margin:0;
}
.banner-description{
    font-weight: 400;
    font-size: 1.25rem; 
}
.btn-enroll{
    background-color:black;
    color: white;
    font-weight: 600;
    font-size: 1.25rem;
    border-radius: 12px;
    height: 3rem;
    width: 12rem;
    border: none;
}
.banner-img{
    max-width: 100%;
    padding :0; 
    margin:0 auto;
}
/* curriculum styles */
.curriculum{
    background-image:url('../assets/bg.png');
    margin: 60px auto;
}
.curr-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-items: center;
    
}
.curriculum-title{
    margin-top: 50px;
    text-align: center;
    font-weight: bold;
    font-size: 2.5rem;
}
.curr-type-1,.curr-type-2, .curr-type-3{
     width:22rem;
     height: 24rem;
     border-radius: 18.5px;
     text-align: center;
     box-shadow: inset 0 0 28.3px 0.94px rgba(0,0,0,0.05);

}
.curr-type-1{
    background: linear-gradient(to bottom, #DEF5FF, white);
}
.curr-type-2{
    background: linear-gradient(to bottom, #FFF4DC, white);
}
.curr-type-3{
    background: linear-gradient(to bottom, #F2E8FF, white);
}
.arrow{
    margin: 30px 0;
    justify-content: center;
    align-items: center;
    gap: 6px;
}
.left-arr, .right-arr{
    justify-content: center;
    vertical-align: center;
    text-align: center;
    font-size: 24px;
    font-weight: 500;
    color: white;
    background-color: orange;
    border-radius: 30px;
    width: 35px;
    height: 35px;
}

/* responsive for phone screen */
@media screen and (max-width:576px) {
    /*banner styles  */
    .banner{
        justify-items: center;
        align-items: center;
        width: 100%;
        max-width: 100%;  
        flex-wrap: wrap;
        flex-direction: column-reverse; 
    }
    .banner-text{
        text-align: center;
    }
    .nav-links, .logo-title, .btn-primary{
        display: none;
    }
    .navbar{
        justify-content: space-between;
        align-items: center;
        border: 1px solid orange;
        padding: 0 1rem;
        
    }
    .hamburger{
        display: block;
        font-size: 35px;
        
    }
    .banner-img{ 
        transform: scale(0.8);
        position: relative;
        right: 6%;
        max-width: 100%;
        object-fit: cover;
        align-items: center ;
        justify-items: center;        
    } 
    /* curriculum styles */
    .curr-container{
        grid-template-columns: repeat(1,1fr);
        justify-items: center;
        align-items:center ;
        gap: 25px;
    }   
    .arrow{
        display: none;
    }

}